html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: blue;
  height: 50px;
  font-size: 1.5rem;
}
ul.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.logo_image {
  width: 60px;
  height: 100%;
  float: left;
  margin: 0;
}
.image_area {
  width: 100%;
}
.wrapper {
  margin-top: 10px;
  padding-bottom: 100px;
}
.side_menu {
  width: 300px;
  float: left;
}
.side_menu li {
  background-color: blue;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover {
  opacity: 0.6;
}
.banner a:hover {
  opacity: 0.6;
}
.side_menu li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img {
  width: 100%;
}
.banner {
  margin-top: 20px;
}
.content {
  width: 660px;
  margin-left: 20px;
  float: left;
  font-size: 1.5rem;
}
.news {
  height: 200px;
  background-color: #fce8e7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.banner_content {
  margin-top: 10px;
  display: table;
}
.banner_content p {
  display: table-cell;
}
.banner_content p img {
  width: 100%;
}
.side_menu .point {
  background-color: #fcecec;
}
.side_menu .point a {
  color: #4d4d4d;
}
.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #4d4d4d;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/* modal */
.open-btn {
  background-color: rgb(43, 107, 226);
  color: #fff;
  padding: 15px;
  margin-left: 100px;
  font-size: 18px;
  font-weight: bold;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
}

.modal-content {
  padding: 20px;
}
.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  border-radius: 5px;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.cta-btn {
  background-color: blueviolet;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 12px;
  margin-left: 200px;
}

.submit-btn {
  background-color: blueviolet;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
}
